discord.py==2.4.0
python-dotenv==1.0.1
aiosqlite==0.20.0

# NLP / sentiment
textblob==0.18.0.post0

# system tools
psutil==5.9.8

# AI (CPU ONLY - no CUDA)
torch==2.2.2 --index-url https://download.pytorch.org/whl/cpu

# Whisper (CPU version)
openai-whisper==20231117

# Groq API
groq==0.9.0